@import "../../global.scss";




.trivia__btnContainer{
    margin: auto;
    max-width: 150px;
}


.trivia__container{
    max-width: 700px;
    margin: auto;
}

@media only screen and (max-width: 750px) {
    .trivia__btnContainer{
        max-width: unset;
    }
}