@import "../../global.scss";

.report__card{
    @extend .card;
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: auto;
    margin-top: 1.5em;

}
.report__header{
    background-color: rgba($principal-highlight-color, 0.7);
    height: 30vh;;
    color: $base-color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.report__performanceCard{
    @extend .card;
    display: inline-block;
    margin-top: -2em;
}
.report__results{
    background-color: $base-color;
    border-radius: 10px;
    padding: 1em 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 60%;
    max-width: 200px;
    font-size: 13px;
    margin-top: 3em;
}

.report__resultsNumber{
    font-size: 28px;
    display: block;
}
.report__detailsList{
    display: flex;
    width: 100%;
    padding: 3em;
}
.report__details{
    width: 100%;
    display: flex;
    justify-content: center;
}
.report__data{
    display: inline-block;
}
.report__details+.report__details{
    border-left: 1px solid $default-border-color;
}
.button__container{
    width: 100%;
    display: flex;
    justify-content: center;    
}
.report__headerText{
    padding: 2em;
}
@media only screen and (max-width: 440px) {
    .report__detailsList{
        display: block;
     
        text-align: center;
    }
  
    .report__details+.report__details{
        border-left: none;
        margin-top: 2em;
    }
}
.report__btnContainer{
    width: 100%;
    max-width: 150px;
    margin: 0 2em 2em 2em;
}




