@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Avenir&display=swap');

@import "./variables.scss";

*{
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: $base-color;
}
.none{
    display:none !important;
}
.card{
    background-color: $base-color-light;
    border-radius: 8px;
    padding: 1em;
    border: 1px solid $default-border-color;
    box-shadow: $default-shadow-color;
}
.clicable{
    cursor: pointer;
}
.clicable:hover{
    opacity: 0.5;
}
.clicable:active{
    opacity: 1;
}
.main__container{
    max-width: $container;
    margin: auto;
    padding: 0 20px 20px 20px;
}
@media only screen and (max-width: 400px) {
    .main__container{
        padding: 0px;
    }
}

