$principal-color:#343C58;
$text-color-light:#fff;
$text-color-dark:#1E2124;
$base-color:#EFF0F0;
$base-color-light:#fff;
$default-border-color: darken($base-color, 10%);
$default-shadow-color:0px 1px 4px rgba(52, 60, 88, 0.4);

$container:1240px;